
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $primary-bg;
  height: 56px;
  padding-top: 8px;

  .content {
    @include flex(row, space-between, center);
    background-color: $primary-bg;
    height: 100%;
    padding: 0px 8px 0px 8px;
  }

  .left-container {
    @include flex(row, flex-start, center);
    gap: 16px;

    .logo-container {
      @include circle(40px);
      @include flex(center, center);
      img {
        width: 100%;
        height: auto;
      }
    }

    .search-container {
      @include flex(row, flex-start, center);
      flex-grow: 1;
      background-color: $secondary-bg;
      border-radius: 32px;
      width: 280px;
      height: 40px;

      .sub-container {
        @include flex(row, flex-start, center);
        gap: 8px;
        margin-left: 8px;

        svg {
          color: $text-color;
          width: 18px;
          height: 18px;
        }

        p {
          font-family: "Segoe Fluent Icons";
          font-size: 14px;
          color: $text-color;
          white-space: nowrap;
        }
      }

      input {
        border: none;
        outline: none;
        background: none;
        color: $text-color;
        font-family: inherit;
        font-size: 14px;
        flex-grow: 1;
      }
    }
  }

  .menu-list {
    @include flex(row, center, center);
    gap: 48px;
    height: 100%;
    
    ul {
      list-style: none;
      @include flex(row, center, center);
      gap: 48px;
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .list-item {
      @include circle(48px);
      @include flex(center, center);
      padding: 8px;
      transition: transform 0.2s ease-in-out;
      align-items: center;

      &:hover {
        transform: scale($hover-scale);
        cursor: pointer;
      }

      a {
        @include flex(center, center);
        text-decoration: none;
        color: var(--secondary-icon, $text-color);
      }

      
    }
  }

  .right-container {
    @include flex(row, flex-start, center);
    gap: 12px;

    .menu {
      @include flex(row, center, center);
      gap: 8px;

      .item {
        @include circle(44px);
        position: relative;
        background-color: $secondary-bg;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale($hover-scale);
          cursor: pointer;
        }

        a {
          @include flex(center, center);
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: $text-color;
        }

       

        .badge {
          position: absolute;
          top: 4px;
          right: 4px;
          @include circle(18px);
          background-color: $badge-color;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        }
      }
    }

    a.profile {
      @include flex(center, center);

      img {
        @include circle(44px);
        object-fit: cover;
      }
    }
  }
}
@media (max-width: 786px){
  .header{
    width: 100%;
   
    .left-container .search-container{
      width: 30px;
      p{
        display: none;
      }
    }
    .menu-list{
      display: none;
    }
  }
}