.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $primary-bg-color; 
  height: 56px;
  box-shadow: $box-shadow-basic;
  ;

  .content {
    @include flex(row, space-between, center);
    background-color: $primary-bg-color; 
    height: 100%;
    padding: 0 $padding-sm; 
  }

  .left-container {
    @include flex(row, flex-start, center);
    gap: $gap-medium; 

    .logo-container {
      @include circle(40px); 
      @include flex(center, center);
      img {
        width: 100%;
        height: auto;
      }
    }

    .search-container {
      @include flex(row, flex-start, center);
      flex-grow: 1;
      background-color: $search-bg-color; 
      border-radius: $border-radius-small; 
      width: 280px;
      height: 40px;

      .sub-container {
        @include flex(row, flex-start, center);
        gap: $gap-small; 
        margin-left: $gap-small; 
        svg {
          color: $text-color;
          width: 18px;
          height: 18px;
        }

        p {
          font-family: $font-icons; 
          font-size: 14px;
          color: $text-color;
          @include truncate; 
        }
      }

      input {
        border: none;
        outline: none;
        background: none;
        color: $text-color; 
        font-family: $font-primary; 
        font-size: 14px;
        flex-grow: 1;
      }
    }
  }

  .menu-list {
    @include flex(row, center, center);
    gap: $gap-large; 
    height: 100%;
    margin-right: $padding-lg; 
    ul {
      list-style: none;
      @include flex(row, center, center);
      gap: $gap-large; 
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .list-item {
      @include circle(48px);
      @include flex(center, center);
      padding: $padding-xs; 
      @include hover-transform; 

      a {
        @include flex(center, center);
        text-decoration: none;
        color: var(--secondary-icon, $text-color); 
      }
    }
  }

  .right-container {
    @include flex(row, flex-start, center);
    gap: $gap-small; 

    .menu {
      @include flex(row, center, center);
      gap: $gap-small; 
      .item {
        @include circle(44px);
        position: relative;
        background-color: $secondary-bg-color; 
        @include hover-transform; 

        a {
          @include flex(center, center);
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: $text-color; 
        }

      
      }
    }
    .link-with-image {
      position: relative;
      display: inline-block;
  
      img {
          display: block;
          width: 100%;
          height: auto; 
          border-radius: 50%;
      }
  
      .fas {
          position: absolute;
          bottom: 6px; 
          right: 6px;
          background-color: $color-transparent-black; 
          color: $color-white; 
          padding: 1px 2px 1px 2px; 
          border-radius: 50%; 
          transform: translate(50%, 50%); 
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      }
  }
  
  
  }
}

@media (max-width: $breakpoint-mobile){
  .header {
    .left-container .search-container {
      width: $padding-lg; 
      p {
        display: none;
      }
    }
    .menu-list {
      @include hide-on-mobile; 
    }
  }
}
