// _variables.scss

// Colors
$primary-color: #3a3b3c;
$secondary-color: #414344;
$text-color: #b0b3b8;
$background-color: #252526;

// Spacing
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// Border Radius
$border-radius: 32px;

// Font Families
$font-main: 'Segoe UI', sans-serif;
